<.header>
  Edit Clock <%= @clock.id %>
  <:subtitle>Use this form to manage clock records in your database.</:subtitle>
</.header>

<.clock_form changeset={@changeset} action={~p"/clocks/#{@clock}"} />

<.back navigate={~p"/clocks"}>Back to clocks</.back>
