<.header>
  New Clock
  <:subtitle>Use this form to manage clock records in your database.</:subtitle>
</.header>

<.clock_form changeset={@changeset} action={~p"/clocks"} />

<.back navigate={~p"/clocks"}>Back to clocks</.back>
