<.header>
  New Timesheet
  <:subtitle>Use this form to manage timesheet records in your database.</:subtitle>
</.header>

<.timesheet_form changeset={@changeset} action={~p"/workingtimes"} />

<.back navigate={~p"/workingtimes"}>Back to workingtimes</.back>
