<.header>
  Timesheet <%= @timesheet.id %>
  <:subtitle>This is a timesheet record from your database.</:subtitle>
  <:actions>
    <.link href={~p"/workingtimes/#{@timesheet}/edit"}>
      <.button>Edit timesheet</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title="Start time"><%= @timesheet.start_time %></:item>
  <:item title="End time"><%= @timesheet.end_time %></:item>
</.list>

<.back navigate={~p"/workingtimes"}>Back to workingtimes</.back>
